name: Deploy Project

on:
  push:
    branches:
      - dev
      - main

env:
  NODE_VERSION: 18
  REMOTE_USER: maframa
  REMOTE_HOST: 195.250.27.23
  REMOTE_DIR: /home/maframa/toppingfly/

jobs:
  build_dev:
    runs-on: ubuntu-latest
    if: github.ref_name == 'dev'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Build dev
        run: npm run build -- --mode development

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist/

  build_main:
    runs-on: ubuntu-latest
    if: github.ref_name == 'main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - name: Build main
        run: npm run build -- --mode production

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
            name: dist
            path: dist/

  deploy:
    runs-on: ubuntu-latest
    needs: [build_dev, build_main]
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
            name: dist
            path: dist

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add server to known hosts
        run: ssh-keyscan -H ${{ env.REMOTE_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy via rsync
        run: |
          echo "Desplegando en ${{ github.ref_name }}..."
          rsync -avz --delete dist/ ${{ env.REMOTE_USER }}@${{ env.REMOTE_HOST }}:${{ env.REMOTE_DIR }}
